.title_area{margin-top: 50px; position: relative;}
.title_area_box{height: 150px; overflow: hidden; background: url(../images/sub3_main.jpg) center no-repeat; background-size: cover;}
h2{position: absolute; top: 60px; width: 100%; text-align: center; color: #fff; font-size: 22px;}
#content{width: 100%; margin: 0 auto;}
.tab_menu{overflow: hidden; width: 90%; margin: 0 5%; position: absolute; top: 135px; box-shadow: 0px 4px 10px 0px #666;}
.tab_menu li{float: left; width: 50%; text-align: center; background: #fff;}
.tab_menu li a{display: block; padding: 10px 0; font-size: 18px; color: #fc7900; font-family: 'Noto Sans KR', sans-serif; font-weight:700}
#content .contlist{display: none;}
#content h3{width: 100px; margin: 0 auto; font-family: 'Noto Sans KR', sans-serif; font-weight:500; font-size: 24px; 
    color: #333; padding-top: 90px; text-align: center; position: relative;}
#content h3::before{content: ''; display: block; position: absolute; top: 125px; left:0; width: 100px; height: 4px; background: rgb(252, 121, 0);}
#content .jangteo h3{width: 50px; margin: 0 auto; font-family: 'Noto Sans KR', sans-serif; font-weight:500; font-size: 24px; 
    color: #333; padding-top: 90px; text-align: center; position: relative;}
#content .jangteo h3::before{content: ''; display: block; position: absolute; top: 125px; left:0; width: 50px; height: 4px; background: rgb(252, 121, 0);}
#content .slogan{display: block; font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size: 15px; 
    color: #666; text-align: center; padding: 20px 0;}
#content .main{width: 98%; margin: 0 1%;}
#content .jangteo .main{margin-top: 30px;}
#content h4{font-family: 'Noto Sans KR', sans-serif; font-weight:500; font-size: 20px; text-align: center; margin: 0 auto 50px auto;}
#content .comment{display: block; width: 90%; text-align: justify; font-size: 14px; line-height: 21px; margin: 30px 5%;}
#content .comment span{font-weight:700; font-size: 15px; color: #fc7900;}
#content .notice span{color: #fc7900;}
#content .menu{overflow: hidden; width: 100%; margin-bottom: 10px;}
#content .menu li{float: left; width: 33.33%; padding: 5px; box-sizing: border-box;}
#content .menu li img{width: 100%;}
#content .menu .menu_name{padding: 5px 0;}
#content .menu .menu_name span{display: block;text-align: center; font-weight: 700;}
#content .notice{width: 90%; margin: 0 4% 50px 6%}
#content .notice li{position: relative;}
#content .notice li::after{content: '*'; display: block; position: absolute; top:0; left:-10px; color: rgb(252, 121, 0);}
#content .restaurant_tab{width: 90%; overflow: hidden; box-shadow: 0 2px 10px 0 #ccc; margin: 30px 5%;}
#content .restaurant_tab li{float: left; width: 25%; background: #fff;}
#content .restaurant_tab li a{display: block; width: 100%; border: 2px solid #f7f7f7; padding: 8px 0; font-size: 16px; text-align: center; font-family: 'Noto Sans KR', sans-serif; font-weight:700; transition: all .15s ease-in; box-sizing: border-box;}
#content .restaurant_tab li a:hover{background: #fff; border: 2px solid #fc7900; color: #fc7900;}