/*font-family: 'Nanum Gothic', sans-serif; font-weight:700
font-family: 'Nanum Myeongjo', serif; font-weight:700
font-family: 'Noto Sans KR', sans-serif; font-weight:700
font-family: 'Roboto', sans-serif; font-weight:700*/

/* 민속촌소개 내용 영역*/

#content .content_area{width: 1200px; margin: 0 auto;}
#content .content_area h3{font-family: 'Noto Sans KR', sans-serif; font-weight:500; font-size: 50px; 
    color: #333; padding-top: 100px; text-align: center; position: relative;}
#content .content_area .intro::before{content: ''; display: block; position: absolute; top: 170px; left: 437px; width: 330px; height: 5px; background: rgb(252, 121, 0);}

#content .content_area .slogan{display: block; font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size: 22px; 
    color: #666; text-align: center; padding: 50px 0 100px 0;}
#content .content_area img{padding: 0 50px;}
#content .content_area span{display: block; text-align: center; font-family: 'Nanum Myeongjo', serif; font-weight:500; font-size: 30px; line-height: 45px; color: #666; padding: 80px 0;}
#content .content_area span strong{color: rgb(252, 121, 0);}
#content .content_area .line{width: 1100px; height: 15px; background: url(../images/content1/line_03.jpg) no-repeat; margin: 0 50px 50px 50px;}
#content .content_area p{display: block; width: 1100px; margin: 0 50px 40px 50px; font-family: 'Nanum Gothic', sans-serif; font-weight:400; color: #666; line-height: 27px; font-size: 18px; text-align: justify;}
#content .content_area p:nth-last-child(1){margin-bottom: 150px;}
#content .content_area .facility h3::before{content: ''; display: block; position: absolute; top: 170px; left: 470px; width: 260px; height: 5px; background: rgb(252, 121, 0);}
#content .content_area .facility_now{overflow: hidden; width: 1100px; margin: 30px 50px 91px 50px; font-family: 'Nanum Gothic', sans-serif; font-weight:400;}
#content .content_area .facility_now dt{font-size: 24px; font-weight: 700; margin-bottom: 45px; position: relative;}
#content .content_area .facility_now dt::before{content: ''; display: block; position: absolute; top: 54px; width: 1100px; height: 1px; background: #ccc;}
#content .content_area .facility_now dd{font-size: 18px; width: 500px; float: left; margin-bottom: 9px;}
#content .content_area .facility_now dd:nth-of-type(2), #content .content_area .facility_now dd:nth-of-type(4){margin-left: 100px;}
#content .content_area .place{width: 1200px; overflow: hidden;}
#content .content_area .place li{float: left; width: 500px; height: 650px; margin: 0 50px;}
#content .content_area .place img{padding: 0;}
#content .content_area .place dl{font-family: 'Nanum Gothic', sans-serif; font-weight:400; color: #333;}
#content .content_area .place dt{font-size: 18px; font-weight: 700; margin: 20px 0 40px 0; position: relative;}
#content .content_area .place dt::before{content: ''; display: block; position: absolute; top: 42px; width: 500px; height: 1px; background: #ccc;}
#content .content_area .place dd{font-size: 16px; margin-bottom: 8px;}
#content .content_area .place .info{margin-bottom: 30px; line-height: 24px;}